{% extends 'base.html' %}
{% block title %}Free Video Course{% endblock title %}
{% block videosactive %} active {% endblock videosactive %}
{% block body %}
{% load static %}
<div class="container-fluid main-container">
    <div class="row my-4 mx-4">
            {% for s in subj %}
            <div class="col-md-6 col-lg-4 text-center">
                <img class="rounded-circle" src="/media/{{s.image}}" width="140" height="140">
                <h2>{{s.title}}</h2>
                <p>
                    {{s.desc}}
                </p>
                <p>
                    <a href="/videos/{{s.slug}}"><button class="btn btn-outline-danger">Start Watching »</button></a>
                </p>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock body %}