{% extends 'base.html' %}
{% block title %}Free Video Course{% endblock title %}
{% block videosactive %} active {% endblock videosactive %}
{% block body %}
<!-- {% for v in vds %} -->
<div class="container">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="{{vds.vurl}}" allowfullscreen></iframe>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active font-weight-bold" id="home-tab" data-toggle="tab" href="#overview" role="tab"
                aria-controls="home" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold" id="profile-tab" data-toggle="tab" href="#coursecontent" role="tab"
                aria-controls="profile" aria-selected="false">Course Content</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="home-tab">
            <h2>{{vds.title}}</h2>
            <p>{{vds.cont|safe}}</p>
        </div>
        <!-- <div class="tab-pane fade" id="coursecontent" role="tabpanel" aria-labelledby="profile-tab">
            {% for c in cont %}
            <div class="card text-white bg-dark" style="max-width: 22rem;">
                <div class="card-body py-2">
                    <a href="{{c.slug}}" style="color: white !important;">
                        <ul>{{c.title}}</ul>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div> -->
    </div>
</div>
<div class="container">
    <h2>Comments</h2>
    <form action="/videos/videoComment" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Post Comment</label>
            <input type="text" name="comment" class="form-control" placeholder="Enter comment here">
        </div>

        <input type="hidden" name="videoSno" value="{{vds.sno}}">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
    {% for comment in comments %}
    <div class="row my-3">
        <div class="col-md-2">Image here</div>
        <div class="col-md-10"><b>ritik</b> this is comment</div>
    </div>
    {% endfor %}
    
</div>
<!-- {% endfor %} -->
{% endblock body %}